<h2><a class="navigate" href="/client/<%= clientId %>"><span class="glyphicon glyphicon-circle-arrow-left"></span></a> <%= clientName %></h2>
<h3><%= description %></h3>

<!-- Button trigger modals -->
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#send-reminder">
  ENVIAR RECORDATORIO
</button>

<button class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#post-progress">
  MARCAR PROGRESO
</button>

<br /><br />
<div class="goal-messages calendar"></div>

<!-- Modals -->
<div class="modal fade" id="send-reminder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Enviar Recordatorio</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="body">Mensaje:</label>
              <input class="form-control" id="message-body" type="text" name="body" value="<%= textMessage %>" />
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-success send-message">ENVIAR</button>
          </div>
        </div>
    </form>
  </div>
</div>

<div class="modal fade" id="post-progress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Marcar Progreso Para el Día de Hoy</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="messageStatus">Estatus:</label>
              <select class="form-control" id="message-status" type="text" name="messageStatus" value="yes">
                <option value="yes">Sí</option>
                <option value="no">No</option>
                <option value="neither">Esta complicado</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-success post-progress">MARCAR</button>
          </div>
        </div>
    </form>
  </div>
</div>
