<h2><a class="navigate" href="/client/<%= clientId %>"><span class="glyphicon glyphicon-circle-arrow-left"></span></a> <%= clientName %></h2>
<h4>Meta: <%= description %></h4>
<div class="goal-messages calendar">
</div>
