<h2><a class="navigate" href="/client/<%= clientId %>"><span class="glyphicon glyphicon-circle-arrow-left"></span></a> <%= clientName %></h2>
<h3><%= description %></h3>
<br /><br />
<div class="goal-messages calendar"></div>
