<h2>Metas Para Tener Estilo de Vida Saludable</h2>
<div class="user-detail">
<% if (firstName || lastName) { %>
  <h4>Cliente:
    <% if (firstName) { %>
      <%= firstName %> 
    <% } %>
    <% if (lastName) { %>
      <%= lastName %> 
    <% } %>
  <% } %>
  </h4>
</div>
<div class="goals col-sm-12">
</div>
