<div class="user-detail col-sm-12">
<% if (firstName || lastName) { %>
  <h2>Client:
    <% if (firstName) { %>
      <%= firstName %> 
    <% } %>
    <% if (lastName) { %>
      <%= lastName %> 
    <% } %>
  <% } %>
  </h2>
</div>
<div class="goals col-sm-12">
<h3>Goals</h3>
</div>
