<h2>
  <% if (firstName || lastName) { %>
    Cliente: 
      <% if (firstName) { %>
        <%= firstName %> 
      <% } %>
      <% if (lastName) { %>
        <%= lastName %> 
      <% } %>
  <% } else { %>
    ID de Cliente: <%= id %>
  <% } %>
</h2>
<% if (createdFormated) { %>
  <p class="text-muted">Fecha de entrada: <%= createdFormated %></p>
<% } %>
<div class="goals col-sm-12">
<h3>Metas Para Tener Estilo de Vida Saludable</h3>
</div>
