<div class="col-sm-6">
  <h2>New User</h2>

  <div class="form-group">
    <label for="firstName">First Name</label><br />
    <input type="text" class="form-control" name="firstName" required />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label><br />
    <input type="text" class="form-control" name="lastName" required />
  </div>

  <div class="form-group">
    <label for="phoneNumber">Phone</label><br />
    <input type="text" class="form-control" name="phoneNumber" required />
  </div>

  <div class="form-group">
    <label for="email">Email</label><br />
    <input type="email" class="form-control" name="email" />
  </div>

  <div class="form-group">
    <label for="password">Password</label><br />
    <input type="password" class="form-control" name="password" required />
  </div>

  <div class="form-group user-new">
    <input class="btn btn-primary" type="submit" value="SAVE" />
  </div>
</div>
