<h2>Clientes</h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Details Page</th>
  </thead>
  <tbody></tbody>
</table>
<a class="btn btn-primary add-client" src="/client/new">AÑADIR CLIENTE</a>
